{% extends "base.html" %}{% load staticfiles %}

{% block page_container %}
<div class="row">
    <div class="col-6">
        <h1 class="display-3">{{ page_title }}</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="https://codehutlabs.com/" target="_blank" role="button">Learn more &raquo;</a></p>
    </div>
    <div class="col-6">
        <img src="{% static "images/django-docker.jpg" %}" alt="Django Docker" />
    </div>
</div>
{% endblock %}
